:root {
  --cor-pimaria: #002687;
  --cor-secundaria: #FEC62B;
  --cor-nav: #0A1165;
  --text-color: #F6F6F6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--cor-pimaria);
  color: var(--text-color);
}

.header{
  background-color: var(--cor-nav);
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

h1 {
  color: var(--cor-secundaria);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.5rem;
}

.btn {
  color: var(--text-color);
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.8s;
}

.btn:hover {
  background-color: var(--cor-pimaria);
  border-bottom: solid var(--cor-secundaria) 2px;
}

.sordi {
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.logoImg {
  max-width: 100vw;
  width: 700px;
}

.produtos{
  width: 100vw;
  height: 100vh;
}

.productCardImg {
  width: 100px;
}

.catalogo {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 15px;
}


.item {
  padding-bottom: 5px;
  height: 200px;
  border: solid var(--cor-secundaria) 2px;
  justify-content: space-between;
}

.wppBtn {
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--cor-secundaria);
  border: solid transparent 2px;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.wppBtn:hover {
  color: black;
  border: solid white 2px;
}



@media (max-width: 280px){
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .nav{
    justify-content: center;
  }

  .sordi {
    margin-top: 20px;
    height: 100%;
  }

  .produtos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }

  .catalogo{
    max-width: 100vw;
    display: flex;
    align-items: center;
    padding: 8px;
  }

  .fotos {
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 10px; 
    max-height: 200;
    border-radius:10px;
    gap: 5px;
  }

  .productCardImg {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .wppBtn {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--cor-secundaria);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
  }
}

@media (max-width: 440px) {
  .header {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    align-content: center;
  }
  
  .nav{
    justify-content: center;
  }

  .sordi {
    margin-top: 20px;
    height: 100%;
  }

  .produtos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }

  .catalogo{
    max-width: 100vw;
    display: flex;
    align-items: center;
    padding: 8px;
  }

  .fotos {
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .item {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 10px; 
    max-height: 200;
    border-radius:10px;
    gap: 5px;
  }

  .productCardImg {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .wppBtn {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--cor-secundaria);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
  }
}

@media (max-width: 924px){
  .header {
    padding: 15px;
    min-width: 100%;
    height: auto;
  }
}