* {
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

title {
  font-family: "Agdasima", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 98vw;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #d3c7c7;
  background-color: rgb(0, 38, 135);
  align-items: center;
  justify-content: center;
  min-width: 400px;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
}

header {
  margin-left: 3px;
  width: 98vw;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #1103509d;
  background-color: linear-gradient(to bottom, #1103509d, #00268700);
  border-radius: 20px;
  min-width: 375px;
}

h1 {
  font-family: "Agdasima", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fec62b;
}

span {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
}

a {
  color: #fffff9;
  text-decoration: none;
}

a:hover {
  color: #fffffe;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0.8rem;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

li {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0.8rem;
}

li:hover {
  background-color: #002687;
  border-radius: 10px;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
}

.header h1 {
  margin-top: 0;
}

.header nav {
  float: right;
}

.header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header nav li {
  margin-left: 10px;
}

.header nav li a {
  text-decoration: none;
}

.header nav li a:hover {
  color: #0000ff;
}

.sordi {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* display: none; */
}

.logo {
  width: 30rem;
}

.slogan {
  font-size: 40px;
  height: 50px;
  border-right: 3px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  min-width: 400px;
}

.typing-animation {
  animation: blinkCursor 500ms infinite normal, typing 6s steps(37) 1s normal;
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba (255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 792px;
  }
}

.main h2 {
  margin-top: 0;
}

.main p {
  margin-top: 0;
}

.footer {
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*estilizaçoes inferiores  */

.produtos {
  padding: 0;
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  display: none;

}

.produtos-texto {
  width: 300px;
  min-width: 150px;
}

.fotos {
  display: flex;
  padding: 10px;
  justify-content: center;
  margin: 0 auto;
  gap: 5px;
  position: relative;
  width: 80%;
  overflow: hidden;
}

#fotos {
  overflow: hidden;
  width: 75%;
  margin: 0 auto;
}

.item {
  width: 250px;
  height: 300px;
  background-color: transparent;
  border: 2px solid #fec62b;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 5px;
  position: relative;
}

.foto {
  clip-path: circle(40%);
  position: relative;
  margin-top: 3px;
  top: -20px;
}

.produto {
  margin: 0;
  font-size: 20px;
  position: relative;
  top: -3px;
}

p {
  justify-content: center;
  text-align: center;
}

#serviços {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  display: none;
}

#serviços h2 {
  width: 250px;
  height: 55px;
  text-align: center;
  justify-content: center;
  position: relative;
  top: -10px;
}

.cards {
  height: 75vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  width: 150px;
  height: 220px;
  border-radius: 10px;
  border: solid yellow;
  transition: flex-grow 0.8s ease;
  display: flex;
  overflow: hidden;
  gap: 120px;
  padding: 30px;
  align-items: center;
}

.card:hover {
  display: block;
  flex-grow: 7;
  height: 60vh;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#contato {
  width: 95vw;
  min-width: 250px;
  height: 100vh;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  flex-wrap: nowrap;
  
}